spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/novaaurora
    username: teste
    password: teste123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
